$base-color: rgb(233, 233, 233);
$danger-color: rgb(248, 182, 182);

body {
  margin: 0;
  padding: 1rem 5rem;
  font-family: Calibri;
  text-align: center;
  font-size: 20px;
  color: rgb(82, 82, 82);
}

.user-info {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content:center;
}

.new-blog-form-item {
  padding: 0.2rem;
}

.blog-author {
  font-size: 80%
}

.list {
  padding: 1rem;
}

.notification {
  white-space: pre-wrap;
  background-color: lighten($base-color, 3%);
  padding: 0.5rem;
  font-size: 80%;
  &.error {
    color: darken($danger-color, 20%);
  }
}

.invisible {
  display: none;
}

.list-item {
  border-width: 0.01rem;
  padding: 0.5rem;
  &:hover {
    background-color: $base-color;
  }
}

.nav-bar {
  display: flex;
  justify-content: center;
}

.nav-link {
  padding: 0.5rem;
}

button {
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0.3rem;
  margin: 0.2rem;
  background-color: darken($base-color, 5%);
  &:hover {
    background-color: darken($base-color, 5%)
  }
  &.danger {
    background-color:$danger-color;
  }
  &.logout {
    background-color: rgb(241, 236, 236)
  }
}

a {
  color: darken($base-color, 30%);
  text-decoration: none;
}

input {
  outline: none;
}

.link {
  padding-bottom: 0.05rem;
  border-bottom: solid 0.05rem;
}

.modest-user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.added-blogs {
  padding: 0.5rem;
  font-size: 75%
}

.togglable {
  padding: 0.5rem;
}

.blogster {
  font-size: 150%;
  margin: 0.1rem;
  font-family: Candara;
}

.fancy-username {
  font-size: 90%;
}

.big-title {
  font-size: 150%;
  font-weight: bold;
  margin: 2.5rem 0 0 0;
}

.title-wrapper {
  margin: 1rem;
}
